* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    font-family: 'Roboto', -apple-system, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .todo {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 750px;
    height: 530px;
    transform: translate(-50%, -50%);
    box-shadow: 1px 2px 20px #f3f3f3;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    font-size: 14px;
  
    &__sidebar {
      background-color: #f4f6f8;
      width: 200px;
      height: calc(100% - 120px);
      border-right: 1px solid #f1f1f1;
      padding: 60px 20px;
    }
    &__tasks {
      flex: 1;
      padding: 60px;
    }
  }
  
  .button {
    background: #4dd599;
    border-radius: 4px;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
  
    &:hover {
      background: darken(#4dd599, 6%);
    }
  
    &:active {
      background: darken(#4dd599, 10%);
    }
  }
  
  .field {
    background: #ffffff;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 12px;
    width: 100%;
  
    &:focus {
      border-color: #dbdbdb;
    }
  }
  
  
  // AddList
  .add-list {
    &__popup {
      height: 150px;
      width: 240px;
      background: #ffffff;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      padding: 18px;
      box-sizing: border-box;
      position: relative;
      top: -25px;
      left: 10px;
  
      .button {
        width: 100%;
        margin-top: 12px;
      }
  
      &-close-btn {
        position: absolute;
        right: -8px;
        top: -8px;
        cursor: pointer;
      }
  
      &-colors {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
  
        .badge {
          width: 16px;
          height: 16px;
          cursor: pointer;
          border: 2px solid transparent;
  
          &.active {
            border: 2px solid #525252;
          }
        }
      }
    }
  }
  
  
  // Badge
  .badge {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 30px;
  
    &--grey {
      background-color: #c9d1d3;
    }
  
    &--grey {
      background-color: #c9d1d3;
    }
  
    &--lime {
      background-color: #b6e6bd;
    }
  
    &--purple {
      background-color: #c355f5;
    }
  
    &--black {
      background-color: #08001a;
    }
  
    &--red {
      background-color: #ff6464;
    }
  
    &--green {
      background-color: #42b883;
    }
  
    &--blue {
      background-color: #64c4ed;
    }
  
    &--pink {
      background-color: #ffbbcc;
    }
  }
  
  
  
  
  
  // Tasks
  .tasks {
    &__title {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
      color: #64c4ed;
      padding-bottom: 20px;
      border-bottom: 1px solid #f2f2f2;
  
      &:hover {
        img {
          opacity: 0.2;
        }
      }
  
      img {
        opacity: 0;
        cursor: pointer;
        margin-left: 15px;
  
        &:hover {
          opacity: 0.8;
        }
      }
    }
  
    &__items {
      margin-top: 30px;
  
      &-row {
        display: flex;
        align-items: center;
  
        input {
          margin-left: 15px;
          border: 0;
          font-size: 16px;
          width: 100%;
        }
      }
    }
  
    .checkbox {
      input {
        display: none;
      }
  
      svg {
        transition: opacity 0.15s ease-in-out;
        path {
          stroke: #f2f2f2;
        }
      }
  
      input:checked + label {
        background-color: #4dd599;
        border-color: #4dd599;
  
        svg {
          opacity: 1;
          path {
            stroke: #fff;
          }
        }
      }
  
      &:hover {
        label {
          background-color: #f2f2f2;
          border-color: #f2f2f2;
          svg {
            opacity: 1;
            path {
              stroke: #b2b2b2;
            }
          }
        }
      }
  
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #e8e8e8;
        border-radius: 30px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out;
  
        svg {
          opacity: 0;
        }
      }
    }
  }
  